:root {
    --black: #0D1926;
    --green: #83ff08;
    --red: #ff0883;
    --grey: #b6b6b6;
    --white: #FFFFFF;
    --orange: #ff8308;
    --blue: #0883ff;
    --violet: #8308ff;
}
* {
    margin: 0;
    padding: 0;
}
body {
    font-family: monospace;
    font-size: 24px;
    background-color: var(--black);
}
main {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.display {
    width: 530px;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--red);
    border: 1px solid var(--red);
    border-radius: 2px;
}
.navigation {
    width: 530px;
    height: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
button {
    width: 100px;
    height: 25px;
    font-family: monospace;
    font-size: 13px;
    background-color: transparent;
    color: var(--green);
    border: 1px solid var(--green);
    border-radius: 2px;
    transition: ease-in-out;
    transition-duration: 0.3s;
    cursor: pointer;
}
button:hover {
    background-color: var(--green);
    color: var(--black);
    border: 1px solid var(--black);

}